{% extends "page.html" %}

{% block page %}
<h1 class="title">{{ _('Categorie') }}</h1>

<p class="has-text-justified has-margin-b-4">
    All'interno del circuito del Campionato Promozionale vengono usate delle categorie speciali da assegnare a ogni giocatore, queste
    utili nelle varie fasi di gioco. Queste categorie sono stabilite per garantire un corretto e più equilibrato sistema di assegnazione dei premi.
    In questo modo, giocatori a parità di forza e di età anagrafica concorrono equamente per sfidarsi all'interno del campionato.
    Le categorie vengono assegnate e rimangono valide per l'intera stagione (intero anno solare), anche se nel corso della stagione il giocatore,
    perde i requisiti per restare nella categoria assegnata. Per questo il cambio di categoria avverrà sempre nell'anno successivo.
</p>

<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Nome</th>
        <th> </th>
        <th class="has-text-centered">Codice</th>
        <th>Descrizione</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Classe A</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">A</td>
        <td>Appartengo a questa categoria tutti i giocatori inscritti nella lista ELO Italia o nella lista ELO FIDE che hanno un punteggio ELO superiore o uguale a 1500, si considera il punteggio ELO al primo gennaio dell'anno in corso.</td>
    </tr>
    <tr>
        <th>Classe A</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">AF</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Classe B</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">B</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Classe B</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">BF</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Dilettanti</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">D</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Dilettanti</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">DF</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Under 18</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">U18</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Under 18</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">U18F</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Under 14</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">U14</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Under 14</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">U14F</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Under 10</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">U10</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Under 10</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">U10F</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Senior</th>
        <td> </td>
        <td class="has-text-centered has-background-grey-ultralight">S</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Senior</th>
        <td>(femminile)</td>
        <td class="has-text-centered has-background-grey-ultralight">SF</td>
        <td>20</td>
    </tr>
    </tbody>
</table>

{% endblock %}
