

<section class="section">
    <div class="container has-text-centered">
        <a href="/">
            <img src="/assets/img/logo.png">
        </a>
        <h1 class="is-marginless">
            <a href="/">
                <span class="title is-3">
                    A.S.D. Circolo del Re
                </span>
            </a>
        </h1>
        <a href="/">
            <span class="subtitle is-4">
                Castelvetrano Scacchi
            </span>
        </a>
    </div>
</section>
