{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container has-text-centered">

        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content tournament-registration" data-tournament="{{tournament}}">

                        <h1 class="title">Campionato Provinciale 2023</h1>

                        <div class="columns">
                            <div class="column">
                                <h3 class="title is-3">Giocatori Registrati</h3>

                                <table class="table is-fullwidth is-striped">
                                    <thead>
                                    <tr>
                                        <th class="has-text-centered">N°</th>
                                        <th> </th>
                                        <th>Nome</th>
                                        <th> </th>
                                        <th class="has-text-centered">Punteggio</th>
                                        <th class="has-text-centered"> </th>
                                    </tr>
                                    </thead>

                                    <tbody class="has-text-centered"></tbody>
                                </table>


                            </div>
                            <div class="column">
                                <h3 class="title is-3">Iscriviti al Torneo</h3>

                                <form id="myForm">

                                    <p>
                                        Sgegli il portale su cui sei registrato
                                    </p>

                                    <span class="select-portal-button" data-portal="chess-com">
                                        <button type="button" class="button button is-black is-outlined is-medium is-chesscom-button">
                                            <img src="/assets/img/logo-chesscom.png">
                                        </button>
                                    </span>

                                    <span class="select-portal-button" data-portal="lichess-org">
                                        <button type="button" class="button is-black is-outlined is-medium is-lichess-button">
                                            <img src="/assets/img/logo-lichess.png">
                                        </button>
                                    </span>

                                    <input type="hidden" name="portal" value="">

                                    <br/>

                                    <input name="tournament" type="hidden" value="{{tournament}}"/>

                                    <br/>
                                    <label>Inserisci il tuo nome utente</label><br>
                                    <input name="nickname" />
                                    <br/>
                                </form>
                                <button onclick='SubForm()'>Iscriviti</button>

                            </div>
                        </div>


                        {% block page %}{% endblock %}


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
