{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container has-text-centered tournament-registration">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        {% if event['type'] == 'lesson' %}
                            <span class="icon has-text-grey-lighter is-large">
                                <i class="fas fa-graduation-cap fa-2x"></i>
                            </span>
                        {% elseif event['type'] == 'tournament' %}
                            <span class="icon has-text-warning is-large">
                                <i class="fas fa-trophy fa-2x"></i>
                            </span>
                        {% endif %}

                        <h1 class="title">{{ event['title'] }}</h1>
                        <h2 class="subtitle has-text-grey has-margin-b-7">Stagione {{ event['season'] }}</h2>

                        <p class="has-margin-b-7">
                            <span class="is-block-mobile has-margin-lr-7 has-margin-b-7">
                                Data evento: <strong>{{ event['time']|date("d/m/Y") }}</strong>
                            </span>
                            <span class="is-block-mobile has-margin-lr-7 has-margin-b-7">
                                Iscriviti entro il: <strong>{{ event['deadline']|date("d/m/Y") }}</strong>
                            </span>
                        </p>

                        <p class="has-margin-b-6 has-text-grey is-italic">
                            Per maggiori dettagli leggi il bando.
                        </p>

                        <a
                            href="https://docs.google.com/document/d/1lJXaa1-5j8RnPjMvjWvgH7cyd-PC0vGthONmmzWOYqM/export?format=pdf"
                            target="_blank"
                            class="button is-medium is-dark is-outlined is-block-mobile has-margin-lr-7 has-margin-b-7"
                        >
                            <span class="icon">
                                <i class="fas fa-scroll"></i>
                            </span>
                            <span>LEGGI BANDO</span>
                        </a>

                        <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSem0MNr7ZsE2pFS8AnkoH3aZ9KUgokrI1ZIVSX7FgftWERidw/viewform?entry.2098685718={{ event['uniqueName']|url_encode }}"
                            target="_blank"
                            class="button is-medium is-dark is-outlined is-block-mobile has-margin-lr-7 has-margin-b-7"
                        >
                            <span class="icon">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span>ISCRIVITI QUI!</span>
                        </a>

                        <div class="table-container">
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                    <tr>
                                        <th class="has-text-centered">N°</th>
                                        <th>Nome</th>
                                        <th class="has-text-centered">Cat.</th>
                                        <th class="has-text-centered">ELO</th>
                                    </tr>
                                </thead>
                                <tbody
                                    class="has-text-centered"
                                    app-component="loadEventJonied"
                                    event-name="{{ event['uniqueName'] }}"
                                    csv-url="https://docs.google.com/spreadsheets/d/e/2PACX-1vSVu7GEpsgToOS33SlmXHGFKZEMZWlYc3wusravf5_Oo5tNc-E-ndzEU-guJ3k7jmArRekKXs1uMdFf/pub?gid=751790970&single=true&output=csv"
                                >
                                    <td class="has-text-centered has-text-grey" colspan="4">Caricamento iscritti...</td>
                                </tbody>
                            </table>
                        </div>

                        <p class="has-margin-b-7">
                            <a href="/#events" class="button">
                                Altri eventi
                            </a>
                        </p>

                        <p>
                            <span class="is-size-7 has-text-grey">Problemi con l'iscrizione? Chiama il 320/0466987.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
