{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container has-text-centered tournament-registration" data-event="{{ event['slug'] }}">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title">{{ event['title'] }}</h1>
                        <h2 class="subtitle has-text-grey">Stagione {{ event['season'][0] }}/{{ event['season'][1] }}</h2>

                        <a
                            href="https://docs.google.com/document/d/e/2PACX-1vSmHUhDSuoVePctWswrFaRaKc04Sx48Rva8iVVBP9jNYDN7uR8FUJEAwgl-N6p61rgNCx-WQxvIJQWM/pub"
                            target="_blank"
                            class="button is-medium is-dark is-outlined is-block-mobile has-margin-lr-7 has-margin-b-7"
                        >
                            <span class="icon">
                                <i class="fas fa-scroll"></i>
                            </span>
                            <span>LEGGI BANDO</span>
                        </a>

                        <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSem0MNr7ZsE2pFS8AnkoH3aZ9KUgokrI1ZIVSX7FgftWERidw/viewform?entry.2098685718=cavallo"
                            target="_blank"
                            class="button is-medium is-dark is-outlined is-block-mobile has-margin-lr-7 has-margin-b-7"
                        >
                            <span class="icon">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span>ISCRIVITI QUI!</span>
                        </a>

                        <div class="table-container">
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                    <tr>
                                        <th class="has-text-centered">N°</th>
                                        <th>Nome</th>
                                        <th class="has-text-centered">Cat.</th>
                                        <th class="has-text-centered">ELO</th>
                                    </tr>
                                </thead>
                                <tbody id="joined" class="has-text-centered">
                                    <!-- -->
                                </tbody>
                            </table>
                        </div>

                        <script>
                            fetch("https://docs.google.com/spreadsheets/d/e/2PACX-1vSVu7GEpsgToOS33SlmXHGFKZEMZWlYc3wusravf5_Oo5tNc-E-ndzEU-guJ3k7jmArRekKXs1uMdFf/pub?gid=751790970&single=true&output=csv")
                                .then(response => response.text())
                                .then(text => {
                                    text.split("\n").forEach((line, index) => {
                                        const [timestamp, event, name, category, elo] = line.split(",")
                                        const row = document.createElement("tr")
                                        row.innerHTML = `
                                            <td class="has-text-centered">${index+1}</td>
                                            <td>${name}</td>
                                            <td class="has-text-centered">${category}</td>
                                            <td class="has-text-centered">${elo}</td>
                                        `;
                                        document.getElementById("joined").appendChild(row)
                                    })
                                })
                        </script>

                        <p>
                            <a href="/#events">
                                Prossimi eventi
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
