{% extends "page.html" %}

{% block page %}
<h1 class="title">{{ _('Categorie') }}</h1>

<p>
    Tutte le categorie
</p>

<table class="table is-striped is-fullwidth">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Codice</th>
        <th>Descrizione</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Serie A</th>
        <td>A</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Serie A (femminile)</th>
        <td>AF</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Serie B</th>
        <td>B</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Serie B (femminile)</th>
        <td>BF</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Dilettanti</th>
        <td>D</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Dilettanti (femminile)</th>
        <td>DF</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Under 18</th>
        <td>U18</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Under 18 (femminile)</th>
        <td>U18F</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Under 14</th>
        <td>U14</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Under 14 (femminile)</th>
        <td>U14F</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Under 10</th>
        <td>U10</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Under 10 (femminile)</th>
        <td>U10F</td>
        <td>20</td>
    </tr>
    <tr>
        <th>Senior</th>
        <td>S</td>
        <td>38</td>
    </tr>
    <tr>
        <th>Senior (femminile)</th>
        <td>SF</td>
        <td>20</td>
    </tr>
    </tbody>
</table>

{% endblock %}
