{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">

                    {#% include 'partials/banner.html' %#}

                    {% include 'partials/welcome.html' %}

                    {#% include 'partials/standing.html' %#}

                    {% include 'partials/tournaments.html' %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
