<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <p class="has-margin-b-1">
                    <a href="/">
                        <img src="/assets/img/logo.png" width="100" height="100">
                    </a>
                    <a href="/">
                        <span class="title is-5 is-block">
                            A.S.D. Circolo del Re
                        </span>
                    </a>
                    <a href="/">
                        <span class="subtitle is-6">
                            Castelvetrano Scacchi
                        </span>
                    </a>
                </p>

                <p class="has-margin-b-1 content is-small">
                    Codice fiscale: 90019450817<br>
                    Email: info@circolodelre.it<br>
                    PEC: circolodelre@pec.it<br>
                    Indirizzo: Via delle Due Sicilie, 36 - 91022 Castelvetrano (TP)<br>
                </p>
            </div>
            <div class="column is-4">
                B
            </div>
            <div class="column is-4">
                C
            </div>
        </div>
    </div>
</footer>
