<section class="section is-marginless-b is-paddingless-b">
    <div class="container has-text-centered">
        <a href="/">
            <img src="/assets/img/logo.png" class="has-image-shadow">
        </a>
        <h1 class="is-marginless">
            <a href="/">
                <span class="title is-3 has-text-shadow">
                    A.S.D. Circolo del Re
                </span>
            </a>
        </h1>
        <a href="/">
            <span class="subtitle is-4 has-text-shadow">
                Castelvetrano Scacchi
            </span>
        </a>
    </div>
</section>
