<div class="columns is-multiline is-mobile">
    {% for stage in rank['stages'] %}
        <div class="column is-half">
            <div class="card is-fullheight">
                <div class="card-content">
                    <h2 class="title is-5">{{ _('Classifica Torneo') }} {{ stage['number'] }}</h2>
                    <h3 class="subtitle is-6">{{ _('del') }} {{ stage['date'] }}</h3>

                    <div class="table-container">
                        <table class="table is-fullwidth">
                            <thead>
                            <tr>
                                <th class="has-text-centered">Pos.</th>
                                <th class="has-text-centered">Cat.</th>
                                <th> </th>
                                <th>Giocatore</th>
                                <th class="has-text-centered">Punti</th>
                                <th class="has-text-centered">Buc1</th>
                                <th class="has-text-centered">BucT</th>
                            </tr>
                            </thead>

                            {% for row in stage['rows'] %}
                                <tbody class="has-text-centered">
                                    <th class="has-text-centered">{{ row['rank'] }}</th>
                                    <td class="has-text-centered">{{ row['title'] }}</td>
                                    <td class="has-text-centered">
                                        {% if row['gender'] != 'f' %}
                                            <span class="icon has-text-primary">
                                                <i class="fas fa-male"></i>
                                            </span>
                                        {% else %}
                                            <span class="icon has-text-danger">
                                                <i class="fas fa-female"></i>
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>{{ row['player'] }}</td>
                                    <th class="has-text-centered has-background-grey-ultralight">{{ row['total'] }}</th>
                                    <td class="has-text-centered">{{ row['buc1'] }}</td>
                                    <td class="has-text-centered">{{ row['buct'] }}</td>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="column is-half">
        <div class="card is-fullheight">
            <div class="card-content">
                <h2 class="title is-5"><?=_('Informazioni')?></h2>
                <h3 class="subtitle is-6"></h3>
            </div>
        </div>
    </div>
</div>
