<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <h1 class="title is-2">{{ _('Campionato Promozionale') }} {{ year }}</h1>

                <h2 class="title is-4">{{ _('Classifica Generale') }}</h2>
                <h3 class="subtitle is-6">{{ _('Aggiornata al') }} {{ today }}</h3>

                <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered"> </th>
                            <th class="has-text-centered">Pos.</th>
                            <th class="has-text-centered">Cat.</th>
                            <th class="has-text-centered"> </th>
                            <th>Giocatore</th>
                            <th class="has-text-centered">Valutazione</th>
                            {% for stage in rank['stages'] %}
                                <th class="has-text-centered">{{ _('Torneo') }} {{ stage['number'] }}</th>
                            {% endfor %}
                            <th class="has-text-centered">Punti</th>
                            <th class="has-text-centered">Bonus</th>
                            <th class="has-text-centered">Totale</th>
                            <th class="has-text-centered"> </th>
                        </tr>
                    </thead>

                    <tbody class="has-text-centered">
                        {% for row in rank['general']['rows'] %}
                            <tr>
                                <th class="has-text-centered">
                                    {% if row['rank'] == 1 %}
                                        <span class="icon has-text-warning">
                                            <i class="fas fa-medal"></i>
                                            <i class="fas fa-trophy"></i>
                                        </span>
                                    {% elseif row['rank'] == 2 %}
                                        <span class="icon has-text-grey-lighter">
                                            <i class="fas fa-medal"></i>
                                        </span>
                                    {% elseif row['rank'] == 3 %}
                                        <span class="icon has-text-grey">
                                            <i class="fas fa-medal"></i>
                                        </span>
                                    {% endif %}
                                </th>

                                <th class="has-text-centered">
                                    {{ row['rank'] }}
                                </th>

                                <td class="has-text-centered">
                                    {{ row['title'] }}
                                </td>

                                <td class="has-text-centered">
                                    {% if row['gender'] != 'f' %}
                                    <span class="icon has-text-primary">
                                            <i class="fas fa-male"></i>
                                        </span>
                                    {% else %}
                                    <span class="icon has-text-danger">
                                            <i class="fas fa-female"></i>
                                        </span>
                                    {% endif %}
                                </td>

                                <td>
                                    {{ row['player'] }}
                                </td>

                                <td class="has-text-centered">
                                    {{ row['rating'] }} ({{ row['rating-var'] }})
                                </td>

                                {% for stage in rank['stages'] %}
                                    <td class="has-text-centered">
                                        {{ row[stage['time']] ?? '-' }}
                                    </td>
                                {% endfor %}

                                <td class="has-text-centered">{{ row['score'] }}</td>
                                <td class="has-text-centered">{{ row['bonus'] }}</td>
                                <th class="has-text-centered">{{ row['total'] }}</th>

                                <td class="has-text-centered">
                                    {% if row['trend-var'] > 0 %}
                                        <span class="icon has-text-success">
                                            <i class="fas fa-arrow-up"></i>
                                        </span>
                                    {% elseif row['trend-var'] < 0 %}
                                        <span class="icon has-text-danger">
                                            <i class="fas fa-arrow-down"></i>
                                        </span>
                                    {% else %}
                                        <span class="icon has-text-info">
                                            <i class="fas fa-equals"></i>
                                        </span>
                                    {% endif %}
                                </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

