<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <h1 class="title is-3">{{ _('Prossimi eventi') }}</h1>

                <!--h2 class="title is-4">{{ _('Classifica Generale') }}</h2-->
                <!--h3 class="subtitle is-6">{{ _('Aggiornata al') }} {{ today }}</h3-->

                <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th class="has-text-centered"> </th>
                            <!--th class="has-text-centered">Pos.</th-->
                            <th>Evento</th>
                            <th class="has-text-centered">Data</th>
                            <th class="has-text-centered"> </th>
                        </tr>
                    </thead>

                    <tbody class="has-text-centered">
                        {% for row in events %}
                            <tr>
                                <th class="has-text-centered">
                                    {% if row['type'] == 'lesson' %}
                                        <span class="icon has-text-warning">
                                            <i class="fas fa-medal"></i>
                                        </span>
                                    {% elseif row['type'] == 'tournament' %}
                                        <span class="icon has-text-warning">
                                            <i class="fas fa-trophy"></i>
                                        </span>
                                    {% endif %}
                                </th>

                                <th class="has-text-centered">
                                    {{ row['rank'] }}
                                </th>

                                <td class="has-text-centered">
                                    {{ row['title'] }}
                                </td>

                                <td class="has-text-centered">
                                    {% if row['gender'] != 'f' %}
                                        <span class="icon has-text-primary">
                                            <i class="fas fa-male"></i>
                                        </span>
                                    {% else %}
                                        <span class="icon has-text-danger">
                                            <i class="fas fa-female"></i>
                                        </span>
                                    {% endif %}
                                </td>

                                <td>
                                    {{ row['player'] }}
                                </td>

                                <td class="has-text-centered">
                                    {{ row['rating'] }} ({{ row['rating-var'] }})
                                </td>

                                {% for stage in rank['stages'] %}
                                    <td class="has-text-centered has-background-grey-ultralight">
                                        {{ row[stage['time']] ?? '-' }}
                                    </td>
                                {% endfor %}

                                <td class="has-text-centered">{{ row['score'] }}</td>
                                <td class="has-text-centered">{{ row['bonus'] }}</td>
                                <th class="has-text-centered">{{ row['total'] }}</th>

                                <td class="has-text-centered">
                                    {% if row['trend'] %}
                                        {% if row['trend-var'] > 0 %}
                                            <span class="icon has-text-success">
                                                <i class="fas fa-arrow-up"></i>
                                            </span>
                                        {% elseif row['trend-var'] < 0 %}
                                            <span class="icon has-text-danger">
                                                <i class="fas fa-arrow-down"></i>
                                            </span>
                                        {% else %}
                                            <span class="icon has-text-info">
                                                <i class="fas fa-equals"></i>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

