<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-padding-7">

                <p class="title has-margin-7 has-padding-b-0">
                    Gioca con noi adesso online
                </p>

                <p class="subtitle has-margin-7 has-padding-b-7">
                    Scegli il tuo portale preferito
                </p>

                <a
                    href="https://www.chess.com/club/asd-circolo-del-re-castelvetrano-scacchi"
                    target="_blank"
                    class="button is-black is-outlined is-large is-chesscom-button has-margin-lr-7 is-inline-block-tablet-only is-block-mobile has-margin-b-7"
                >
                    <img src="/assets/img/logo-chesscom.png">
                </a>

                <a
                    href="https://lichess.org/team/asd-circolo-del-re-castelvetrano-scacchi"
                    target="_blank"
                    class="button is-black is-outlined is-large is-lichess-button has-margin-lr-7 is-inline-block-tablet-only is-block-mobile has-margin-b-7"
                >
                    <img src="/assets/img/logo-lichess.png">
                </a>

            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <h2 class="title">
                    Chi siamo
                </h2>
                <p class="has-text-justified has-margin-b-7">
                    Il "Circolo del Re" è un club di scacchi situato a Castelvetrano,
                    dove gli appassionati di scacchi di tutte le età e livelli di abilità possono riunirsi per giocare,
                    imparare e partecipare a tornei locali. Offriamo corsi di scacchi per principianti e giocatori più esperti,
                    oltre a organizzare eventi e tornei regolari per i nostri membri. Se ami gli scacchi e vuoi migliorare le tue abilità
                    o semplicemente trascorrere del tempo in compagnia di altri appassionati,
                    vieni a far parte del nostro circolo e diventa il prossimo "Re" della scacchiera! Seguici online...
                </p>
                <p class="has-text-centered has-margin-b-0">
                    <a
                        href="https://chat.whatsapp.com/Bapqpc7zUxwEXXIhF6pOJF"
                        target="_blank"
                        class="button is-medium is-dark is-outlined"
                    >
                        <span class="icon">
                            <i class="fab fa-whatsapp fa-lg"></i>
                        </span>
                    </a>

                    <a
                        href="https://www.facebook.com/groups/castelvetranoscacchi"
                        target="_blank"
                        class="button is-medium is-dark is-outlined"
                    >
                        <span class="icon">
                            <i class="fab fa-facebook fa-lg"></i>
                        </span>
                    </a>

                    <a
                        href="https://www.instagram.com/circolodelre"
                        target="_blank"
                        class="button is-medium is-dark is-outlined"
                    >
                        <span class="icon">
                            <i class="fab fa-instagram fa-lg"></i>
                        </span>
                    </a>
                </p>

            </div>
        </div>
    </div>

    <!--
    <div class="column">
        <div class="card is-fullheight">
            <div class="card-content">
                &nbsp;
            </div>
        </div>
    </div>
    -->
</div>
