<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Circolo del Re - Castelvetrano Scacchi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script defer src="https://use.fontawesome.com/releases/v5.4.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>

{% include 'partials/header.html' %}

{% block content %}{% endblock %}

{% include 'partials/footer.html' %}

<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.4.149/pdf.min.mjs">
    window.pdfjsLib = pdfjsLib
</script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

<!-- 100% privacy-first analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

</body>
</html>