{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">

                    {#% include 'partials/banner.html' %#}

                    {% include 'partials/welcome.html' %}

                    {% include 'partials/cta.html' %}

                    {% include 'partials/about.html' %}

                    {% if nextTournament['title'] %}
                        {% include 'partials/events.html' %}
                    {% endif %}

                    {% include 'partials/updates.html' %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
