<div class="columns">
    <div class="column">
        <div class="card has-background-warning">
            <div class="card-content has-padding-7">
                <h1 class="title is-1">Iscrizioni Aperte</h1>

                <a href="/iscrizione-torneo/campionato-provinciale-2023.html" class="button is-large is-primary">
                    <i class="fas fa-chess-king has-margin-r-6"></i>
                    ISCRIVITI ADESSO
                </a>
            </div>
        </div>
    </div>
</div>
