<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-padding-7">

                <p class="title has-margin-7 has-padding-b-0">
                    Gioca a scacchi con noi
                </p>

                <p class="subtitle has-margin-7 has-padding-b-7">
                    Scegli il tuo portale preferito
                </p>

                <a
                    href="https://www.chess.com/club/asd-circolo-del-re-castelvetrano-scacchi"
                    target="_blank"
                    class="button is-black is-outlined is-large is-chesscom-button has-margin-lr-7 is-inline-block-tablet-only is-block-mobile has-margin-b-7"
                >
                    <img src="/assets/img/logo-chesscom.png">
                </a>

                <a
                    href="https://lichess.org/team/asd-circolo-del-re-castelvetrano-scacchi"
                    target="_blank"
                    class="button is-black is-outlined is-large is-lichess-button has-margin-lr-7 is-inline-block-tablet-only is-block-mobile has-margin-b-7"
                >
                    <img src="/assets/img/logo-lichess.png">
                </a>

                <p class="has-margin-7 has-padding-b-0 has-text-grey-light">
                    oppure
                </p>

                <p class="has-margin-7 has-padding-b-0">
                    <span class="has-text-weight-bold">Gioca dal vivo</span>, iscriviti al prossimo tonero
                </p>

                <p class="subtitle has-text-weight-bold has-margin-7 has-padding-b-0">
                    <span class="icon has-text-warning">
                        <i class="fas fa-trophy"></i>
                    </span>
                    {{ nextTournament['title'] }}
                </p>

                <a
                        href="/{{ nextTournament['slug'] }}.html"
                        target="_blank"
                        class="button is-outlined has-margin-lr-7 is-dark is-medium is-inline-block-tablet-only is-block-mobile has-margin-b-0"
                >
                    <span class="icon">
                        <i class="fas fa-flag-checkered"></i>
                    </span>
                    <span>ISCRIVITI AL TORNEO!</span>
                </a>

                <p class="has-margin-0 has-padding-0 has-text-grey">
                    Si gioca il <span class="has-text-weight-bold">{{ nextTournament['time'] | strftime }}</span>
                </p>

            </div>
        </div>
    </div>
</div>
