<div class="columns">
    <div class="column">

        <div id="events" class="card">
            <div class="card-content">
                <h2 class="title is-3 has-margin-b-4">{{ _('Prossimi eventi') }}</h2>

                <!--h2 class="title is-4">{{ _('Classifica Generale') }}</h2-->
                <!--h3 class="subtitle is-6">{{ _('Aggiornata al') }} {{ today }}</h3-->




                <div class="table-container">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered"> </th>
                                <!--th class="has-text-centered">Pos.</th-->
                                <th>Evento</th>
                                <th class="has-text-centered">Data</th>
                                <th class="has-text-centered is-hidden-mobile"> </th>
                            </tr>
                        </thead>

                        <tbody class="has-text-centered">
                            {% for season, seasonEvents in events %}
                                <tr class="has-background-light">
                                    <th class="has-text-centered"> </th>
                                    <th class="has-text-left has-text-grey has-text-weight-normal" colspan="3">Stagione {{ season }}</h3>
                                </th>
                                {% for row in seasonEvents %}
                                    <tr>
                                        <th class="has-text-centered">
                                            {% if row['type'] == 'lesson' %}
                                                <span class="icon has-text-grey-lighter" style="border-left: 1px solid #fff;">
                                                    <i class="fas fa-graduation-cap"></i>
                                                </span>
                                            {% elseif row['type'] == 'tournament' %}
                                                <span class="icon has-text-warning">
                                                    <i class="fas fa-trophy"></i>
                                                </span>
                                            {% endif %}
                                        </th>

                                        <td class="has-text-left">
                                            {{ row['title'] }}
                                        </td>

                                        <td class="has-text-centered">
                                            {{ row['time']|date("d/m/Y") }}
                                            <a href="/{{ row['slug'] }}.html" class="button is-rounded is-small is-dark is-outlined is-hidden-tablet">
                                                Iscriviti
                                            </a>
                                        </td>

                                        <td class="has-text-centered is-hidden-mobile">
                                            <a href="/{{ row['slug'] }}.html" class="button is-rounded is-small is-dark is-outlined" >
                                                Iscriviti
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

