<div class="columns" xmlns="http://www.w3.org/1999/html">
    <div class="column">
        <div id="events" class="card">
            <div class="card-content">
                <h2 class="title is-3 has-margin-b-4">{{ _('Tesseramento') }}</h2>

                <div class="has-text-left">
                    <p class="has-text-justified has-margin-b-7">
                        Per partecipare alle attività del Circolo del Re, è necessario essere tesserati come soci sportivi. Il tesseramento garantisce l'accesso alle lezioni, ai tornei e agli eventi organizzati dal circolo, oltre a offrire numerosi vantaggi ai membri. Inoltre il tesseramento è fondamentale per partecipare alla gare ufficiali riconosciute dalla Federazione Scacchistica Italiana (FSI).
                    </p>
                    <p class="has-text-centered has-margin-b-7">
                        <a href="https://forms.gle/7BiYVZ5FNWhxCnbLA" target="_blank" class="button is-medium is-outlined">
                            <span class="icon">
                                <i class="fas fa-file-signature"></i>
                            </span>
                            <span>
                                Modulo di tesseramento
                            </span>
                        </a>
                    </p>

                    <p class="has-text-centered">
                        Registro ufficiale tesserati:
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2026#sp-footer" target="_blank">2026</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2025#sp-footer" target="_blank">2025</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2024#sp-footer" target="_blank">2024</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2019#sp-footer" target="_blank">2019</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2018#sp-footer" target="_blank">2018</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2017#sp-footer" target="_blank">2017</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2016#sp-footer" target="_blank">2016</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2015#sp-footer" target="_blank">2015</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2014#sp-footer" target="_blank">2014</a>,
                        <a href="https://www.federscacchi.com/fsi/index.php/struttura/tesserati?ric=1&cir=15106&anno=2013#sp-footer" target="_blank">2013</a>.
                    </p>


                </div>

            </div>
        </div>
    </div>
</div>
