<div class="columns" xmlns="http://www.w3.org/1999/html">
    <div class="column">
        <div id="events" class="card">
            <div class="card-content">
                <h2 class="title is-3 has-margin-b-4">{{ _('Tesseramento') }}</h2>

                <div class="has-text-left">
                    <h4 class="subtitle is-size-4 is-bold has-margin-b-7"></h4>
                    <p class="has-text-justified has-margin-b-7">
                        Per partecipare alle attività del Circolo del Re, è necessario essere tesserati come soci sportivi. Il tesseramento garantisce l'accesso alle lezioni, ai tornei e agli eventi organizzati dal circolo, oltre a offrire numerosi vantaggi ai membri. Inoltre il tesseramento è fondamentale per partecipare alla gare ufficiali riconosciute dalla Federazione Scacchistica Italiana (FSI).
                    </p>
                    <p class="has-text-centered">
                        <a href="https://forms.gle/7BiYVZ5FNWhxCnbLA" target="_blank" class="button is-medium is-outlined">
                            <span class="icon">
                                <i class="fas fa-file-signature"></i>
                            </span>
                            <span>
                                Modulo di tesseramento
                            </span>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
