<div class="columns">
    <div class="column">
        <div id="events" class="card">
            <div class="card-content">
                <h2 class="title is-3 has-margin-b-4">{{ _('Aggiornamenti') }}</h2>

                <div class="has-text-left">
                    <div class="has-margin-b-7">
                        <img src="/assets/img/kids-chess.jpg" class="is-fullwidth">
                    </div>
                    <h4 class="subtitle is-size-4 is-bold has-margin-b-7">Scacchi per bambini</h4>
                    <p class="has-text-justified">
                        Gli scacchi sono un gioco avvincente che può affascinare non solo gli adulti ma anche i bambini.
                        Attraverso mosse intelligenti e ben studiate,
                        i giocatori cercano di dare scacco matto al re dell'avversario e quindi di vincere la partita...
                        <a href="https://www.c-and-a.com/it/it/shop/scacchi-per-bambini" target="_blank">continua a leggere...</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
