<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-padding-7">

                <p class="title has-margin-7 has-padding-b-0">
                    Gioca con noi online
                </p>

                <p class="subtitle has-margin-7 has-padding-b-7">
                    Scegli il tuo portale preferito
                </p>

                <a
                    href="https://www.chess.com/club/asd-circolo-del-re-castelvetrano-scacchi"
                    target="_blank"
                    class="button is-black is-outlined is-large is-chesscom-button has-margin-lr-7 is-inline-block-tablet-only is-block-mobile has-margin-b-7"
                >
                    <img src="/assets/img/logo-chesscom.png">
                </a>

                <a
                    href="https://lichess.org/team/asd-circolo-del-re-castelvetrano-scacchi"
                    target="_blank"
                    class="button is-black is-outlined is-large is-lichess-button has-margin-lr-7 is-inline-block-tablet-only is-block-mobile has-margin-b-7"
                >
                    <img src="/assets/img/logo-lichess.png">
                </a>

                <p class="has-margin-7 has-padding-b-0 has-text-grey-light">
                    oppure
                </p>

                <p class="has-margin-7 has-padding-b-0">
                    <span class="has-text-weight-bold">Gioca dal vivo</span>, iscriviti al prossimo tonero
                </p>

                <p class="subtitle has-text-weight-bold has-margin-7 has-padding-b-0">
                    <span class="icon has-text-warning">
                        <i class="fas fa-trophy"></i>
                    </span>
                    {{ nextTournament['title'] }}
                </p>

                <a
                        href="/{{ nextTournament['slug'] }}.html"
                        target="_blank"
                        class="button is-outlined has-margin-lr-7 is-medium is-inline-block-tablet-only is-block-mobile has-margin-b-0"
                >
                    <span class="icon">
                        <i class="fas fa-flag-checkered"></i>
                    </span>
                    <span>ISCRIVITI AL TORNEO!</span>
                </a>

                <p class="has-margin-0 has-padding-0 has-text-grey">
                    Si gioca il <span class="has-text-weight-bold">{{ nextTournament['time'] | strftime }}</span>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <h2 class="title">
                    Chi siamo
                </h2>
                <p class="has-text-justified has-margin-b-7">
                    Benvenuto al "Circolo del Re", il club di scacchi di Castelvetrano dove gli appassionati di ogni età e livello si incontrano per giocare, imparare e competere. Qui, puoi migliorare le tue abilità con corsi dedicati sia ai principianti che ai giocatori più esperti, oltre a partecipare ai nostri eventi e tornei regolari. Se ami gli scacchi e desideri crescere come giocatore o semplicemente goderti la compagnia di altri appassionati, unisciti a noi e conquista il titolo di "Re" della scacchiera! Seguici online o scrivici su WhatsApp per maggiori informazioni.
                </p>
                <p class="has-text-centered has-margin-b-0">
                    <a
                        href="https://chat.whatsapp.com/Bapqpc7zUxwEXXIhF6pOJF"
                        target="_blank"
                        class="button is-medium is-dark is-outlined"
                    >
                        <span class="icon">
                            <i class="fab fa-whatsapp fa-lg"></i>
                        </span>
                    </a>

                    <a
                        href="https://www.facebook.com/groups/castelvetranoscacchi"
                        target="_blank"
                        class="button is-medium is-dark is-outlined"
                    >
                        <span class="icon">
                            <i class="fab fa-facebook fa-lg"></i>
                        </span>
                    </a>

                    <a
                        href="https://www.instagram.com/circolodelre"
                        target="_blank"
                        class="button is-medium is-dark is-outlined"
                    >
                        <span class="icon">
                            <i class="fab fa-instagram fa-lg"></i>
                        </span>
                    </a>
                </p>

            </div>
        </div>
    </div>

    <!--
    <div class="column">
        <div class="card is-fullheight">
            <div class="card-content">
                &nbsp;
            </div>
        </div>
    </div>
    -->
</div>
