<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content">
                <h2 class="title">
                    Benvenuto!
                </h2>
                <p class="has-text-centered has-margin-b-7">
                    Benvenuti al "Circolo del Re", il cuore degli scacchi a Castelvetrano!
                    Unisciti a noi per condividere la passione per gli scacchi, migliorare il tuo gioco e incontrare altri appassionati in un ambiente accogliente. <br>
                    Gli scacchi ti aspettano!
                </p>

            </div>
        </div>
    </div>
</div>

